<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	   http://www.springframework.org/schema/beans/spring-beans.xsd"
	   default-init-method="ginit" default-destroy-method="gdestroy">
	   
	   <!-- when initialization happens spring will look  -->
	   <bean class="com.training.bpp.EmployeeBeanProcessor" />
	   
	   
	   <!-- property configuration goes here -->
	   <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
	   	<property name="location">
	   		<value>employeeinfo.properties</value>
	   	</property>
	   </bean>
	   
	   <bean id="employee" class="com.training.employee.Employee" scope="singleton">
	   <!-- autoboxing is taken care by spring -->
	   <property name="empId" value="${employee.empid}" />
	    <property name="empName" value="${employee.empname}" />
	     <property name="empSal" value="${employee.empsal}"  />
	   
	   </bean>
	   
</beans>